@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  min-height: 100vh;
  font-size: 1.25rem;
}

header {
  display: flex;
  justify-content: center;
}

header img.logo {
  padding: 4rem 0 2.5rem;
}

.lkp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* background-color: red; */
  margin: auto;
}

.lkp h1 {
  font-size: 3rem;
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.lkp .bold {
  color: #000;
  font-weight: 700;
}

.lkp h2 {
  color: var(--gray);
  font-weight: 300;
  font-size: 20px;
  color: #000;
  margin-bottom: 16px;
}

.lkp .notify-me {
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  /* min-width: 200px; */
}

.lkp .notify-me h2 {
  width: 100%;
  text-align: center;
}

.lkp .notify-me #email {
  /* flex-basis: 2;
  flex-shrink: 1; */
  flex-grow: 1;
  /* background-color: red; */
  padding: 0.9375rem 1.5625rem;
  font-size: 1.25rem;
  color: var(--pale-blue);
  border: 1px solid var(--pale-blue);
  border-radius: 100px;
}

.lkp .notify-me ::placeholder {
  color: var(--pale-blue);
  font-weight: 300;
}

.lkp .notify-me #submit {
  /* flex-basis: 1;
  flex-shrink: 0; */
  flex-grow: 1;
}

.lkp > img {
  width: 100%;
}

