@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  min-height: 100vh;
  font-size: 1.25rem;
}

header {
  display: flex;
  justify-content: center;
}

header img.logo {
  padding: 4rem 0 2.5rem;
}

.lkp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.lkp h1 {
  font-size: 3rem;
  color: var(--gray);
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.lkp .bold {
  color: #000;
  font-weight: 700;
}

.lkp h2 {
  color: var(--gray);
  font-weight: 300;
  font-size: 20px;
  color: #000;
  margin-bottom: 16px;
}

.lkp .notify-me {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
  margin-bottom: 5rem;
  width: 100%;
}

.lkp .notify-me h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.lkp .notify-me .input {
  flex: 1 1 calc((100% - 12px) / 3 * 2);
}

.lkp .notify-me .input p {
  color: var(--light-red);
  font-style: italic;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

.lkp .notify-me .input #email {
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1.25rem;
  border: 1px solid var(--pale-blue);
  border-radius: 100px;
  min-width: 300px;
}

.lkp input:focus {
  outline: var(--pale-blue) solid 1px;
}

.lkp .notify-me ::placeholder {
  color: var(--pale-blue);
  font-weight: 300;
}

.lkp .notify-me #submit {
  flex: 1 1 calc((100% - 12px) / 3 * 1);
  background: var(--blue);
  border: none;
  border-radius: 100px;
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 0 5px 10px var(--pale-blue);
  transition: all 0.3s;
}

.lkp .notify-me #submit:hover {
  filter: brightness(125%);
}

.lkp > img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 3rem auto 2.5rem;
}

footer .social-media {
  display: flex;
  gap: 0.75rem;
}

footer .social-media svg {
  width: 32px;
  height: 32px;
  padding: 6px;
  border: var(--gray) 1px solid;
  border-radius: 100px;
  fill: var(--blue);
  overflow: visible;
  transition: all 0.3s;
}

footer .social-media svg:hover {
  fill: #fff;
  background-color: var(--blue);
  border-color: var(--blue);
  transition: all 0.3s;
}

footer p {
  color: var(--gray);
  font-size: 1rem;
}
